@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 160px 0 0 0;

  &.large {
    padding: 240px 0 0 0;
  }
}
