@import '../../styles/variables.scss';

.container {
  label {
  }
  input {
    width: 100%;
    padding: 6px 0;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    transition: color #{$theme-duration} ease-out;
    border: 1px dotted var(--border-color);
  
    &:focus {
      outline: none;
    }
  }
  .helpText {
    display: block;
    font-size: 80%;
    margin-bottom: 15px;
    margin-top: -10px;
  }
}
