@import '../../../styles/layout.scss';

.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
  }
}

.noscroll {
  pointer-events: none;
}