@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  @include resetButton();

  &.disabled {
    pointer-events: none;
    cursor: unset;
  }
}

.primary {
  color: $color;

  &.selected {
    font-weight: bold;
  }

  @include hover {
    color: $color;
    &:not(.selected) {
      text-decoration: underline;
    }
  }
}

.secondary {
  @include hover {
    text-decoration: none;
  }
}

.purchase {
  font-size: 16px;
  padding: 2px 6px;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
}

.curate {
  font-size: 16px;
  padding: 2px 6px;
  background-color: rgb(239, 239, 239);
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
}
