@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  @include resetButton();

  &.fit {
    display: contents;
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    cursor: unset;
    opacity: 0.5;
  }

  &.full {
    width: 100%;

    @include respond-to('desktop') {
      width: fit-content;
    }
  }
}

.primary {
  color: var(--text-color);

  transition: color #{$theme-duration} ease-out;

  &.selected {
    font-weight: bold;

    margin-bottom: -1px;
    border-bottom: 1px solid var(--text-color);
    padding: 6px 0;
  }

  @include hover {
    &.menu {
      margin-bottom: -1px;
      border-bottom: 1px solid var(--text-color);
      padding: 6px 0;

      text-decoration: none;
    }

    &:not(.selected):not(.menu) {
      text-decoration: underline;
    }
  }
}

.secondary {
  color: var(--text-color);
  transition: color #{$theme-duration} ease-out;

  @include hover {
    text-decoration: none;
  }
}

.purchase {
  padding: 4px 6px;

  color: var(--gray-100);
  background-color: var(--gray-5);
  border-right: 2px solid var(--gray-100);
  border-bottom: 2px solid var(--gray-100);
  transition: border-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
}

.purchase:hover {
  color: var(--gray-100);
  background-color: var(--gray-5);
  border-right: 2px solid var(--gray-50);
  border-bottom: 2px solid var(--gray-50);
}

.curate {
  opacity: inherit;
  margin-bottom: 10px;
  cursor: pointer;

  padding: 2px 6px;
  width: 100%;
  color: black; // this colour doesnt change
  background-color: rgb(239, 239, 239);
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  transition: border-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
}

.primary__purchase {
  width: calc(100vw - 2em);

  margin: 1em 0;
  @include respond-to('desktop'){
    width: auto;
    margin: 0;
  }
}

.dark {
  background-color: var(--gray-15);
  border-right: 2px solid var(--gray-100);
  border-bottom: 2px solid var(--gray-100);
}

.dark:hover {
  background-color: var(--gray-15);
}