@import '../../styles/variables.scss';

.container {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: pink;

  @media (min-width: 600px) {
    background-color: green;
  }

  .content {
  }

  .logo {
    font-size: 20px;
    color: $color;
    font-style: normal;
    text-decoration: none;
  }
}
