@import '../../styles/variables.scss';

.container {
  padding: 0 1em;

  border-bottom: 1px solid #D9D9D9;
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}
