@import '../../styles/variables.scss';

.container {
  margin: 0 1em;

  border-bottom: 1px solid var(--gray-20);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 20px;
  }
}
