@import '../../styles/variables.scss';

.container {
  margin: 0 1em;

  border-bottom: 1px solid var(--border-color);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}
