.container {
    width: 100%;
    // padding: 0 32px;
    margin: 10vh 0 44px;
    
    h1 {
        // font-family: 'IBM Plex Sans Thai', sans-serif;
        font-size: 64px;
        // letter-spacing: -4px;
        // font-weight: bold;
        line-height: 1;
    }
}