@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 1em 2em;

  a {
    margin: 0 15px 15px 0;

    @include respond-to('desktop') {
      margin: 0 10px 10px 0;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .tag {
    display: inline-flex;
    padding: 3px 8px;
    text-transform: lowercase;
    text-decoration: none;
    font-size: $font-small-mobile;

    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;

    @include respond-to('desktop') {
      font-size: $font-small;
    }
  }

}

.light {
  background-color: var(--gray-5);
  color: var(--gray-80);
}

.light:hover {
  color: var(--gray-50);
}

.dark {
  background-color: var(--gray-15);
  color: var(--gray-60);
}

.dark:hover {
  background-color: var(--gray-10);
  color: var(--gray-40);
}
