@import '../../../styles/layout.scss';

.container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  model-viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

    model-viewer #ar-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: black;
      background-color: transparent;
      border-radius: 4px;
      border: 2px solid black;
      padding: 4px 8px;
      cursor: pointer;
    }
}
