@import '../../../styles/layout.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    @include respond-to('tablet') {
      max-height: 70vh;
      height: initial;
    }
  }
}
