.img{
    height : 60vh;
    width : 50%; 
    display: block; 
    margin: 0 auto; 
    border : none;
}

@media screen and (max-width : 800px) {
    .img {
        width : 100% !important; 
        height : 60vh; 
        display: block;
        margin: 0 auto; 
        border : none;
    }
}
