.img{

    height : 60vh; 
    display: block; 
    margin: 0 auto; 
    border : none;

    @media screen (max-width : 800px) {
        height : 60vh; 
        display: block;
        margin: 0 auto; 
        border : none;
    }

}
