@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.container {
  width: 100%;
  margin-bottom: 20px;

  @include respond-to('tablet') {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &.large {
    @include respond-to('tablet') {
      width: 55%;
    }
  }
}
