@import '../../../styles/layout.scss';

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .displayviewVideo {
    width: 100%;
    height: auto;
  }
}
  
.objktviewVideo {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;

  @include respond-to('desktop') {
    width: auto;
    height: 60vh;
  }
}
