@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.profile {
  display: flex;

  .picture {
    position: relative;
    display: block;
    border-style: solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid var(--text-color);
    transition: border-color #{$theme-duration} ease-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--text-color);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transition: background-color #{$theme-duration} ease-out;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--text-color);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transition: background-color #{$theme-duration} ease-out;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

.menu {
  padding: 6px 0;
  border-bottom: 1px solid var(--border-color);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}

.list {
  margin-top: 100px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include respond-to('tablet') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include respond-to('desktop') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .container {
    position: relative;
    grid-column-end: span 1; // 1/1
    margin-bottom: 40px;

    @include respond-to('tablet') {
      grid-column-end: span 2; // 2/4
      margin-bottom: initial;
    }

    @include respond-to('desktop') {
      grid-column-end: span 1; // 1/4
    }

    .number {
      position: absolute;
      bottom: 6px;
      right: 6px;
      padding: 4px;
      background-color: var(--text-color);
      color: var(--background-color);
      transition: background-color #{$theme-duration} ease-out,
        color #{$theme-duration} ease-out;
    }
  }
}
