@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.profile {
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    p {
      margin-bottom: 8px;
    }
  }
}

.menu {
  padding: 6px 0;
  border-bottom: 1px solid var(--border-color);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}

.list {
  column-count: 4;
  column-gap: 1em;

  @include respond-to('tablet') {
    column-count: 3;
  }

  @include respond-to('desktop') {
    column-count: 4;
  }

  .container {
    position: relative;
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;

    .number {
      position: absolute;
      bottom: 6px;
      right: 6px;
      padding: 4px;
      background-color: var(--text-color);
      color: var(--background-color);
      transition: background-color #{$theme-duration} ease-out,
        color #{$theme-duration} ease-out;
    }
  }
  
}

.pagination {
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;

  .item {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50) translateY(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--text-color);
    }

    &:hover {
      opacity: 0.8;
    }

    &.selected {
      opacity: 0.8;
      cursor: initial;

      &:after {
        background-color: var(--text-color);
      }
    }
  }
}
