@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.card {
  position: relative;

  .cardDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 70%;
    color: var(--background-color);
    z-index: 101;
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .cardDetailsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    color: transparent;
    transition: opacity 0.1s ease-out;
  }
  
  &:hover, &:active {
    .cardDetailsContainer {
      opacity: 1;
      background-color: var(--text-color);
      transition: opacity 0.1s ease-out;
    }
    .cardDetails {
      opacity: 1;
      transition: opacity 0.1s ease-out;
    }
  }
}

.profile {
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    p {
      margin-bottom: 8px;
    }
  }
}

.menu {
  padding: 6px 0;
  border-bottom: 1px solid var(--border-color);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}

.container {
  position: relative;
  .number {
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 4px;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;
  }
}

.tag {
  display: inline-flex;
  background-color: var(--border-color);
  color: var(--text-color);
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
}
