// breakpoints
$TABLET: 600px;
$DESKTOP: 1024px;

$breakpoints: (
  'desktop': $DESKTOP,
  'tablet': $TABLET,
  'phone': 0px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
