@import 'variables.scss';

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: 'Courier New', Courier, monospace;
}
