@font-face {
  font-family: 'OCR A Std';
  src: url('fonts/OCR-A-Std-Regular.eot');
  src: url('fonts/OCR-A-Std-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/OCR-A-Std-Regular.woff2') format('woff2'),
    url('fonts/OCR-A-Std-Regular.woff') format('woff'),
    url('fonts/OCR-A-Std-Regular.ttf') format('truetype'),
    url('fonts/OCR-A-Std-Regular.svg#OCR A Std') format('svg');
}
