@font-face {
  font-family: 'OCR-A BT';
  src: url('OCRAbyBT-Regular.woff2') format('woff2'),
    url('OCRAbyBT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A BT';
  src: url('OCRAbyBT-Regular.woff2') format('woff2'),
    url('OCRAbyBT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A';
  src: url('OCR-A.woff2') format('woff2'), url('OCR-A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A';
  src: url('OcrA-Regular.woff2') format('woff2'),
    url('OcrA-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A';
  src: url('OCR-A.woff2') format('woff2'), url('OCR-A.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
