@font-face {
  font-family: 'basier_circle_monoregular';
  src: url('fonts/basiercirclemono-regular-webfont.eot');
  src: url('fonts/basiercirclemono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/basiercirclemono-regular-webfont.woff2') format('woff2'),
       url('fonts/basiercirclemono-regular-webfont.woff') format('woff'),
       url('fonts/basiercirclemono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'iosevka-extended';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src:  url('fonts/iosevka-extended.woff2') format('woff2'), 
        url('fonts/iosevka-extended.ttf') format('truetype');
}