.container {
  display: inline-block;
  border: 1px dashed red;

  .text {
    position: relative;
    font-size: 16px;
    color: white;
    border: 1px dashed green;

    &:before {
      position: absolute;
      left: 0;
      content: attr(data-label);
      transform: translateY(-100%);
      color: white;
      border: 1px dashed blue;
    }
  }
}
