html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

/* landscape uses vw */
@media (orientation: landscape) {
  .container {
    width: 100vh;
    height: 100vh;
  }
}

/* portrait uses vh */
@media (orientation: portrait) {
  .container {
    width: 100vw;
    height: 100vw;
  }
}

.element {
  position: relative;
  width: fit-content;
  width: 100%;
}

.element img {
  width: 100%;
  opacity: 1;
}

.tools {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1000;
}

.tools .icon {
  background-color: black;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.tools .icon svg {
  width: 24px;
  height: 24px;
}
