@import '../../../styles/layout.scss';

.container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.interactive {
    pointer-events: all;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
