.html {

    width: 50%;
    height : 60vh;
    display: block; 
    margin: 0 auto; 
    border : none;

    @media screen (max-width : 800px) {
        width: 100% !important;
        height : 60vh;
        display: block; 
        margin: 0 auto; 
        border : none;
    }
    
}



