@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.container {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 0 #{$mobile-padding};
  background-color: $background;
  color: $color;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	color: $color;

    @include respond-to('desktop') {
      width: 50%;
      margin: 0 auto;
    }
	
	.textcolor {
	  color: $color;
	}
	
    .logo {
      font-size: 20px;
      color: $color;
      font-style: normal;
      text-decoration: none;
    }

    .right {
      display: flex;
      align-items: center;

      & > * {
        display: flex;
        align-items: center;
        font-size: 16px;
      }

      .hamburger {
        width: 30px;
        height: auto;
        margin-left: 10px;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background;
  color: $color;
  z-index: 1000;

  .content {
    display: flex;
    justify-content: flex-end;

    ul {
      margin-top: 45px;
      list-style: none;

      li {
        text-align: right;

        &:first-of-type {
          text-decoration: line-through;
        }

        button,
        a {
          font-size: 30px;
        }
      }
    }
  }
}
