@import '../../styles/variables.scss';

.loader {
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;

  p {
    margin-right: 10px;
    // font-size: 10px;
  }
}

.circle {
  display: inline-block;
  background-color: var(--text-color);
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  transition: background-color #{$theme-duration} ease-out;
  animation: circle 1.5s linear infinite;
}

@keyframes circle {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
