.tag {
    display: inline-flex;
    color: var(--text-color);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 6px;
    margin-bottom: 6px;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: bold;
  }



.search-bar {
  /* padding: 0 1.25rem; */
}

.infinite-scroll-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}