@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.container {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  svg {
    width: 40px;
    height: auto;

    path {
      fill: var(--background-color);
      transition: fill #{$theme-duration} ease-out;
    }
  }
}
