<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
  </head>
  <body>
    <!-- NOTE: All external resources will be blocked! -->

    <script type="text/javascript">
      const c = new URLSearchParams(location.search).get('creator')
      const v = new URLSearchParams(location.search).get('viewer')
      console.log(c, v)
    </script>
  </body>
</html>
