@import '../../styles/variables.scss';

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
  z-index: 2000;

  // & > * {
  //   :last-child {
  //     font-size: 50%;
  //   }
  // }
}
