.container {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 0;
  width: 100%;
  background-color: black;
  text-align: center;
  font-size: 14px;
  color: white;
  z-index: 2000;

  & > * {
    :last-child {
      font-size: 50%;
    }
  }
}
