@import '../../../styles/layout.scss';
@import '../../../styles/variables.scss';

.container {
  .artist {
    display: flex;
    align-items: center;

    @include respond-to('tablet') {
      margin-top: 0;
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;
      border: 1px solid black;
      padding: 1px;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
  }
  .bio {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
