@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  // border: 1px dashed $color;

  @include respond-to('tablet') {
    width: 50%;
  }

  &.large {
    @include respond-to('tablet') {
      width: 55%;
    }
  }

  &.xlarge {
    @include respond-to('tablet') {
      width: 80%;
    }
  }
}
