.container {
  position: relative;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10000;
    background-color: var(--background-color);
  }

  .icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1000px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    svg {
      width: 12px;
      height: 12px;
      path {
        fill: white;
      }
    }
  }
  &.hover {
    .icon {
      opacity: 1;
    }
  }
}
