@import '../../styles/variables.scss';

.menu {
  svg {
    display: block;
    width: 30px;
    height: 30px;

    line {
      stroke: var(--text-color);
      transition: stroke #{$theme-duration} ease-out;
    }
  }
}
