input {
  border: 0;
  padding: 12px;
  outline: 0;
}

.page-wrap {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

button {
  border-top: 0;
  border-left: 0;
}

.nav button:focus {
  outline: thin dotted;
}

/* a {
  color : #000
}
a:hover {
  color: #000
}
 */
@keyframes fadeMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'mini-kaliber';
  src: local('mini-kaliber'), url(fonts/mini-kaliber.ttf) format('truetype');
}

div {
  font-family: 'Courier New';
}

.media {
  width: 100vh;
}

@media (max-width: 600px) {
  .celLoad {
    left: 45% !important;
  }

  .cel {
    padding-top: 15% !important;
  }

  .media {
    max-width: 65vw;
  }
}

.loading {
  animation: opacityOn 5s infinite;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
