input {
  border: 0;
  padding: 12px;
  outline: 0;
}

button {
  border-top: 0;
  border-left: 0;
}
/* a {
  color : #000
}
a:hover {
  color: #000
}
 */
@keyframes fadeMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'mini-kaliber';
  src: local('mini-kaliber'), url(fonts/mini-kaliber.ttf) format('truetype');
}

div {
  font-family: 'Courier New';
}

.media {
  width: 100vh;
}

@media (max-width: 600px) {
  .celLoad {
    left: 45% !important;
  }

  .cel {
    padding-top: 15% !important;
  }

  /* .media {
    max-width: 65vw;
  } */
}

.loading {
  animation: opacityOn 5s infinite;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
