

input {
  border : 0;
  padding : 12px;
  outline: 0;
}

button {
  border-top: 0;
  border-left: 0;
}
/* a {
  color : #000
}
a:hover {
  color: #000
}
 */
@keyframes fadeMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@font-face {
  font-family: 'mini-kaliber';
  src: local('mini-kaliber'), url(fonts/mini-kaliber.ttf) format('truetype');
}

div {
  font-family:'Courier New'
}