@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.menu {
  background-color: pink;
  & > * {
    margin-right: 1em;
    border: 1px dashed red;
  }
}

.owner {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  align-items: center;

  .tag {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    color: grey;
    border-radius: 4px;
    padding: 3px 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 80%;
    text-transform: uppercase;
    font-size: 10px;
  }
}
