@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.menu {
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  & > * {
    margin-right: 1em;
  }
}

.owner {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
	flex-wrap: wrap;
  align-items: center;

  .tag {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    color: grey;
    border-radius: 4px;
    padding: 3px 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 12px;
  }
}
