@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.menu {
  padding: 6px 0;
  border-bottom: 1px solid var(--border-color);
  transition: border-color #{$theme-duration} ease-out;

  & > * {
    margin-right: 1em;
  }
}

.owner {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    display: inline-flex;
    background-color: var(--border-color);
    color: var(--text-color);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;
  }
}
