.objkt-view {
    position: relative;
    overflow : hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width : 801px) {
    .objkt-view {
        width : 50%;
        margin: 0 auto;
        height: 60vh;
    }
}

@media screen and (max-width : 800px) {
    .objkt-view {
        width : 100%;
        height: 60vh;
    }
}