@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.objktview {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('tablet') {
    width : 100%;
    height: 60vh;
  }

  @include respond-to('desktop') {
    width : 60vh;
    margin: 0 auto;
    height: 60vh;
  }
}

.nofullscreen {
  svg {
    display: none;
  }
}