@import '../../styles/variables.scss';

.container {
  display:inline-flex;
  width:16px;
  height:16px;
  border-radius:50%;
  background-color: var(--text-color);
  transition: background-color #{$theme-duration} ease-out,
  color #{$theme-duration} ease-out, box-shadow #{$theme-duration} ease-out;
  z-index: 1000;
  cursor: pointer;
  margin-right:1rem;
  flex-shrink:0;
  // &.light {
  //   background-color: var(--text-color);
  //   box-shadow: inset 7px 0px 0 2px var(--background-color);
  // }
}