@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.container {
  cursor: pointer;
  font-size: 20px;

  @include respond-to('desktop') {
    font-size: 16px;
  }
}

.button__light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  height: 20px;

  @include respond-to('desktop') {
    width: 71px;
  }
}

.button__dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
  height: 20px;

  @include respond-to('desktop') {
    width: 60px;
  }
}